						  =================================	
						 |   📉 Core Data Analysis 📈     |
						 |	  pandas>=2.0.0	 	   |
						 |	  numpy>=1.20.0		   |  	 
						  =================================
								 |
								 |
 						  =================================	
						 |      ✨ Visualization ✨       |
						 |	  matplotlib>=3.0.0	   |
						 |	  seaborn>=0.12.0	   |  	 
						  =================================
								 |
								 |
  						  =================================	
						 |   🤖 Machine Learning 🤖       |
						 |	  scikit-learn>=1.0.0	   |
						 |	  xgboost>=1.5.0	   |  	   
						  =================================
								 |
								 |
  						  =================================	
						 |         👾 Jupyter 👾          |
						 |	  jupyterlab>=4.0.0	   |
						 |	  ipykernel>=6.0.0	   |  	   
						  =================================


